* {
    margin:0;
  }
html, body {
  font-family: 'Chivo', sans-serif;
  font-weight: 300;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:burlywood;
 
  position: sticky;
  top: 0;
}
.liStyle {
  float: left;
  width: 100%;
  list-style-type: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  cursor: pointer;
}
li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: gray;
}

.navWrap{
  display: flex;
  align-items: flex-start;
  position: relative;
}
.navAlign{
  flex-flow: row;
}

h1 {
    color: white; 
    background: rgb(255, 166, 166);
    font-size: 3em; 
    display: flex;  
    align-content: center;
    justify-content: center;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 300;
    }
   

    h2 {
      color: white; 
      font-size: 1.5em; 
      display: flex;  
      align-content: center;
      justify-content: center;
      margin-bottom: 15px;
      margin-top: 15px;
      font-family: 'Playfair Display', serif;
      font-weight: 700;
      }
.textStyle{
  margin-left: 15px;
}

.descriptionStyle{
  margin-top: 15px;
  margin-left: 15px;
  font-family: 'Chivo', sans-serif;
  font-size: 1.1em;
  font-weight: 100;
  font-style: bold;
  color: red;
}

.buttonStyle {
  color: #fff;
  border: 3px solid #c266d3;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(30deg, #c266d3 50%, transparent 50%);
  background-image: linear-gradient(30deg, #c266d3 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.buttonStyle:hover {
  background-position: 100%;
  color: #c266d3;
}

.textSignsAmountWrap{
  flex-direction: column;
  display: flex;
}

.imageText{
  display: flex;
}

.shoppingLayout{
  margin-top: 10px;
  height: 120px;
  display: flex;
  justify-content: space-between;

}

.plusMinusStyle{
  background-color: blanchedalmond;
  border-radius: 40px;
  width: 25px;
  height: 25px;
  display: flex;  
  align-content: center;
  justify-content: center;
}
.signsPriceAlign{
  display: flex;
  flex-direction: center;
  justify-content: center;;
}

.priceAlign{
  display: flex;
  margin-left: 15px;
}

.imgSize {
      max-width: 240px;
      height: auto;
    }

.imgSizeList {
      max-width: 120px;
      height: auto;
    }

    

.containerFlex{
        display: flex;
        align-items: flex-start;
        position: relative;
    }

.productBox{
  display: flex;
  justify-content: center;
}

.cartWrapper{
  display: flex;
  margin-left: 2em;
  flex-direction: column;
  justify-content: space-around;
}

.cart{
  width: 400px;
  background-color: rgb(215, 215, 255);
  /*display: none;*/
}

.shoppingCart{
      z-index: 2; 

      /*flex-direction: row-reverse;*/
      width: 100%;
      height: auto;
      background-color: rgb(255, 166, 166);
      margin: 20px 0;
      float: right;
      position: relative;
      border-radius: 3px;
      padding: 20px;
      }

  .listItemId{
width: 200px;
height: auto;
  }

 .alignBox{
        flex: 0 1 30%;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: aqua;
        margin-left: 2rem;
    }

  
  
  .shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;

  }
.minusPlusAmount{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.amountStyle{
  margin-left: 15px;
  margin-right: 15px;
}
    
    .shopping-cart-items {
      display: flex;
      flex-direction: column;
      
    }
      
      .item-name {
        display: block;
        padding-top: 10px;
        font-size: 16px;
      }

      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }

.priceSum{
  margin-right: 20px;
  text-align: right;
}
