* {
    margin:0;
  }
html, body {
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
  background: #E4FEFA;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #B8CCC9;
  position: sticky;
  top: 0;
}
.liStyle {
  float: left;
  width: 100%;
  list-style-type: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #B8CCC9;
  cursor: pointer;
}
li a:hover:not(.active) {
  background-color:#B8CCC9;
}
.active {
  background-color: gray;
}

.navWrap{
  right: 0px;
  left: 0px;
  display: flex;
  position: fixed;
  align-items: flex-start;
  
}
.navAlignHome{
  flex-flow: row;
}

.navAlignCart{
  flex-flow: row;
  position: fixed;
  right: 0px;
}
h1 {
    color: white; 
    background: #73807E;
    font-size: 2.7em; 
    display: flex;  
    align-content: center;
    justify-content: center;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 300;
    }
   

    h2 {
      color: white; 
      font-size: 1.5em; 
      display: flex;  
      align-content: center;
      justify-content: center;
      margin-bottom: 15px;
      margin-top: 15px;
      font-family: 'Playfair Display', serif;
      font-weight: 700;
      }
h3{
  font-family: 'Playfair Display', serif;
  margin: 10px;
}

.textStyle{
  margin-left: 15px;
}

.descriptionStyle{
  margin-top: 15px;
  margin-left: 15px;
  font-family: 'Chivo', sans-serif;
  font-size: 1.1em;
  font-weight: 100;
  font-style: bold;
  color: white;
}

.buttonStyle {
  color:#4D8078;
  width: 70%;
  border: 3px solid #E4FEFA;
  border-radius: 5px;
  margin: 10px;
  margin-left: 15%;
  background-image: -webkit-linear-gradient(30deg, #99FFF0d3 50%, transparent 50%);
  background-image: linear-gradient(30deg, #99FFF0 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.buttonStyle:hover {
  background-position: 100%;
  color: white;
}

.textSignsAmountWrap{
  flex-direction: column;
  display: flex;
}

.imageText{
  display: flex;
}

.shoppingLayout{
  background-color: #B8CCC9;
  margin-top: 10px;
  height: 120px;
  display: flex;
  justify-content: space-between;

}

.plusMinusStyle{
  border: 1px solid #99FFF0;
  background-color: #4D8078;
  color: white;
  border-radius: 40px;
  width: 25px;
  height: 25px;
  display: flex;  
  align-content: center;
  justify-content: center;
}
.signsPriceAlign{
  display: flex;
  flex-direction: center;
  justify-content: center;;
}

.priceAlign{
  display: flex;
  margin-left: 15px;
}

.imgSize {
      max-width: 240px;
      height: auto;
    }

.imgSizeList {
      max-width: 120px;
      height: auto;
    }

    

.containerFlex{
        position: relative;
    }

.productBox{
  display: flex;
  justify-content: center;
}

.cartWrapper{
  display: flex;
  margin-left: 2em;
  flex-direction: column;

}

.cart{
  width: 400px;
  background-color: #B8CCC9;
  display: none;
}

.shoppingCart{
      z-index: 2; 

      /*flex-direction: row-reverse;*/
      width: 100%;
      height: auto;
      background-color: #B8CCC9;
      margin: 20px 0;
      float: right;
      position: relative;
      border-radius: 3px;
      padding: 20px;
      }

  .listItemId{
width: 200px;
height: auto;
  }

 .alignBox{
        height: fit-content;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: #4D8078;
        margin-left: 2rem;
    }

  
  
  .shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;

  }
.minusPlusAmount{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.amountStyle{
  margin-left: 15px;
  margin-right: 15px;
}
    
    .shopping-cart-items {
      display: flex;
      flex-direction: column;
      
    }
      
      .item-name {
        display: block;
        padding-top: 10px;
        font-size: 16px;
      }

      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }

.priceSum{
  margin-right: 20px;
  text-align: right;
}


/* animation total price*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);

*,
:before,
:after {
    box-sizing: border-box;
}



#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}

#container {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    padding: 3px;
    width: 100%;
}

.phover {
    font-size: 1em;
    font-weight: 900;
    line-height: 1;
}

.addToCart {
  animation: text-shadow 1.5s ease-in-out;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}

/* this is the image hover section bruh*/
.imageContainer {
  position: relative;
  width: 50%;
}

.productImage {
  opacity: 1;
  display: block;
  width: 460px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.productImageMiddle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imageContainer:hover .productImage {
  opacity: 0.3;
}

.imageContainer:hover .productImageMiddle {
  opacity: 1;
}

.productHoverText {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}